body {
    background-image: linear-gradient(to right top, #051937, #042d60, #02438c, #0559ba, #1270eb);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}